/doctortt/node_modules
/doctortt/package-lock.json
/doctortt/.DS_Store

/patienttt/node_modules
/patienttt/package-lock.json
/patienttt/.DS_Store

/doctortt_zip
/doctor.zip
/patienttt_zip
/patient.zip

.DS_Store
