class @org.thingpedia.cardiologydoctor {
  import loader from @org.thingpedia.v2();
  import config from @org.thingpedia.config.basic_auth();

  query measurements(req in email: String #_[prompt="Please enter the email of the patient for which you would like to retrieve measurements."],
                     out measurements: String)
  #_[canonical="get blood pressure records of a patient"]
  #_[confirmation="blood pressure records"]
  #[doc="get a patient's blood pressure measurements"]
}
